#nav {
	clear: both;

	h2 {
		background: #100e0e;
		clear: left;
		width: 100%;
		height: 30px;
		
		font-size: 16px;
		cursor: pointer;
		padding-bottom: 8px;
		margin-top: 5px;
		color: #949494;
		outline: 0px; // gets rid of link outline
		text-decoration: none;

		&.ui-state-active {
			color: #fff;
		}
	}

	.ui-state-active {
		background: @active_bg;
	}

	.ui-accordion-content-active {
		overflow: auto;
		background: @active_bg;
	}

	.center {

		padding: 15px 0px;
		
		.sidebar {
			width: 170px;
			text-align: right;

			img {
				display: block;
				width: 167px;
				height: 44px;
				margin-bottom: 5px;
				cursor: pointer;
			}
		}

		.scroll-nav {

			width: 170px;
			text-transform: lowercase;
			.clearfix;

			a {
				display: block;
				position: relative;
			}

			.up {
				float: left;
			}

			.down {
				float: right;
			}
		}
	}

}