body {
	background: #191616 url('../images/bg.gif') top left repeat-x;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #ccc;
}

img.header {
	margin: 24px 0 5px 10px;
	float: left;
	display: block;
	opacity: .75;
}

a {
	color: @accent;
	text-decoration: none;
	font-size: 13px;
	
	&:hover {
		color: #ccc;
	}
}

.center {
	width: 960px;
	margin: 0px auto;
	position: relative;
}

.clearfix {

	*zoom: 1;

	&:after {
		content: " ";
	    display: table;
	    clear: both;
	}

	&:before {
		content: " ";
	    display: table;
	}
}