{% for category in site.categories %}

	{% assign name = category|first %}

	<h2 class="{{ name|replace:" ", "-" }}">
		<div class="center">
			<div class="sidebar">{{ name }}</div>
		</div>
	</h2>

	<div class="page">
		<div class="center">
			<div class="sidebar">

				{% assign posts = site.categories[name] %}

				{% for post in posts %}

					{% if post.thumb %}
						{% assign image = post.thumb %}
					{% else %}
						{% assign image = post.image %}
					{% endif %}

					<a href="{{ post.url }}"><img src="/assets/images/thumbs/{{ image }}" alt="{{ post.title }}" /></a>

				{% endfor %}
				
			</div>
		</div>
	</div>

{% endfor %}

<h2 class="contact">
	<div class="center">
		<div class="sidebar">
			contact ryan
		</div>
	</div>
</h2>

<div>
	<div class="center">
		<div class="sidebar">
			<p><a href="mailto:rwachter22@yahoo.com">email</a></p>
		</div>
	</div>
</div>