{% assign categories = "latest|t-shirt|print|identity" | split: "|" %}

{% for category in categories %}
	
	<h2 class="{{ category }} page">
		<div class="center">
			<div class="sidebar">{{ category }}</div>
		</div>
	</h2>

	<div class="page">
		<div class="center">
			<div class="sidebar thumbs">

				{% assign posts = site.categories[category] %}

				{% for post in posts %}

					{% if post.thumb %}
						{% assign image = post.thumb %}
					{% else %}
						{% assign image = post.image %}
					{% endif %}

					<a href="{{ post.url }}"><img src="/assets/images/thumbs/{{ image }}" alt="{{ post.title }}" /></a>

				{% endfor %}
				
			</div>
		</div>
	</div>

{% endfor %}

<h2 class="contact page">
	<div class="center">
		<div class="sidebar">
			contact ryan
		</div>
	</div>
</h2>

<div>
	<div class="center">
		<div class="sidebar">
			<p><a href="mailto:rwachter22@yahoo.com">email</a></p>
		</div>
	</div>
</div>