#nav {
  clear: both;
}
#nav h2 {
  clear: left;
  width: 100%;
  height: 30px;
  background: #100e0e;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 8px;
  margin-top: 5px;
  color: #949494;
  outline: 0px;
  text-decoration: none;
}
#nav h2 .sidebar_width {
  padding-top: 22px;
}
#nav h2.ui-state-active {
  color: #fff;
}
#nav h2:hover {
  outline: 0px;
  text-decoration: none;
}
.ui-state-active,
.ui-accordion-content-active {
  background: #050404;
}
.ui-accordion-content-active {
  overflow: auto;
}
.page_width {
  display: none;
}
/* prevent expansion of thumbs before jQuery can hide them */
.page_width,
#container {
  width: 960px;
  margin: 0px auto;
}
.sidebar_width {
  width: 170px;
  text-align: right;
}
.ui-helper-reset {
  outline: 0;
}
#nav .page_width .sidebar_width {
  padding: 15px 0px;
}
.ui-accordion-content {
  overflow: hidden;
}
.sidebar_width img {
  margin-bottom: 5px;
  width: 167px;
  height: 44px;
  cursor: pointer;
}
.sidebar_width img.logo {
  clear: left;
  float: left;
  margin-right: 5px;
  width: 81px;
}
.sidebar_width img.stat {
  float: left;
  width: 81px;
}
.thumbs_container {
  height: 245px;
  overflow: hidden;
}
#nav p {
  font-size: 10px;
  text-transform: uppercase;
  opacity: 25;
}
a:link,
a:visited {
  color: #ccc;
  text-decoration: none;
}
a:hover,
a:active {
  color: #c37200;
  text-decoration: none;
}
