<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} . {{ site.name }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styles.css" />
  <script src="/assets/js/jquery.scroller.min.js"></script>
  <script>
  $(document).ready(function() {
    $("#nav").scroller({
      upText: "&uarr; up",
      downText: "down &darr;"
    });
  });
  </script>

</head>

<body>

  <div class="center">

    <a href="/"><img src="/assets/images/ryan_orange.png" width="180" height="86" alt="{{ site.name }}" class="header" /></a>

    <div class="content">
      {{ content }}
    </div>

  </div>

  <div id="nav">
    {% include nav.html %}
  </div>
  
  {% include analytics.html %}
  
</body>
</html>