<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} . {{ site.name }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styles.css" />

  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.accordion.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.scroller.js"></script>
  <script>
  $(document).ready(function() {
    $("#nav").scroller();
  });
  </script>

</head>

<body class="home blog">

  <div id="container">

    <h1><a href="http://www.rwachter.com/"><img src="http://www.rwachter.com/images/ryan_rust.png" width="169" height="67" alt="RYAN WACHTER" /></a></h1>

    <div id="content">
      {{ content }}
    </div>

  </div>

  <div id="nav">
    {% include nav.html %}
  </div>
  
  {% include analytics.html %}
  
</body>
</html>