<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} . {{ site.name }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styles.css" />

  <script type="text/javascript" src="/assets/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery-ui-1.8.accordion.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery-cookie.js"></script>
  <script type="text/javascript" src="/assets/js/scripts.js"></script>

</head>

<body class="home blog">

  <div id="container">

    <h1><a href="http://www.rwachter.com/"><img src="http://www.rwachter.com/images/ryan_rust.png" width="169" height="67" alt="RYAN WACHTER" /></a></h1>

    <div id="content">
      {{ content }}
    </div>

  </div>

  <div id="nav">
    {% include nav.html %}
  </div>
  
  <script>
    var _gaq = [['_setAccount', 'UA-11760930-1'], ['_trackPageview']];
    (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
    })(document, 'script');
  </script>
  
</body>
</html>